.THIS.DraggableDiv1
{   
      width: 5%;
      height: 20%;
      min-height: 3.5em;     
      background-color: #29e;
      color: white;
      border-radius: 0.75em;
      padding: 4%;
     -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);      
      position: absolute;
}
.THIS.DraggableCursor
{
    cursor: move;
}
.THIS.DraggableDiv
{
    background-color: #97A3AD;
    width: 50%;
    height: 80%;    
}
.THIS.DivMargin
{
    margin-top: 3%;
    margin-left: 30%; 
}
.THIS .Container
{
    width: 99%;
    height: 100%;
}
.THIS .modal__close {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -2.4rem;
    right: -.5rem;
}
.THIS .modal__header {
    position: relative;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;  
    text-align: center;
}
.THIS .CloseButton
{
    color: darkcyan;
}
.THIS .MainContainerDiv
{
    width: 100%;
    height: 100%;
}
.THIS.hideDiv
{
   display: none;
}