.THIS .uiInputDateTime .datePicker-openIcon {
   position: absolute;
    left: 45%;
    top: 45%;
}

.THIS .uiInputDateTime .timePicker-openIcon {
   position: absolute;
    left: 95%;
    top: 70%;
}

.THIS .uiInputDefaultError li {
  list-style: none;
}
.THIS table tr headerRow
{
    color: white;
    height:12px;
}
.THIS.uiButton.deleteBtn {
width:50px;
height:25px;
}
.THIS.button.addExpense
{
    float:right;
    cursor:pointer;
}