.THIS.vf-page .popup{
    padding:0px;
}
.THIS .slds-utility-panel__header{
    padding:0px;
}
.THIS .slds-utility-panel{
        bottom: calc(2.5rem + 2px);
}
.THIS .slds-max-medium-table_stacked-horizontal, 
.THIS .slds-max-medium-table--stacked-horizontal {
    border: 0;
}

.THIS .slds-max-medium-table_stacked-horizontal thead, 
.THIS .slds-max-medium-table--stacked-horizontal thead {
    position: absolute!important;
    margin: -1px!important;
    border: 0!important;
    padding: 0!important;
    width: 1px!important;
    height: 1px!important;
    overflow: hidden!important;
    clip: rect(0 0 0 0)!important;
}

.THIS .slds-max-medium-table_stacked-horizontal tr, 
.THIS .slds-max-medium-table--stacked-horizontal tr {
    display: block;
    border-top: 2px solid #d4d4d4;
}


.THIS .slds-max-medium-table_stacked-horizontal th,
.THIS .slds-max-medium-table_stacked-horizontal td,
.THIS .slds-max-medium-table--stacked-horizontal th,
.THIS .slds-max-medium-table--stacked-horizontal td {
    display: block;
    padding: .75rem;
    max-width: 100%;
 	width: auto;
    clear: both;
    white-space: normal;
    overflow: hidden;
    text-align: left;
}

.THIS .slds-max-medium-table_stacked-horizontal th:before,
.THIS .slds-max-medium-table_stacked-horizontal td:before,
.THIS .slds-max-medium-table--stacked-horizontal th:before,
.THIS .slds-max-medium-table--stacked-horizontal td:before {
    font-size: .875rem;
    line-height: 1.25;
    color: #696969;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    display: block;
    padding-bottom: .25rem;
    content: attr(data-label);
}

.THIS .slds-max-medium-table_stacked-horizontal tr>td:first-child,
.THIS .slds-max-medium-table_stacked-horizontal tr>td:last-child,
.THIS .slds-max-medium-table--stacked-horizontal tr>td:first-child,
.THIS .slds-max-medium-table--stacked-horizontal tr>td:last-child {
    padding: .75rem;
}

.THIS .slds-max-medium-table_stacked-horizontal th:before,
.THIS .slds-max-medium-table_stacked-horizontal td:before,
.THIS .slds-max-medium-table--stacked-horizontal th:before,
.THIS .slds-max-medium-table--stacked-horizontal td:before {
    font-size: .875rem;
    line-height: 1.25;
    color: #696969;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    display: block;
    padding-bottom: .25rem;
    content: attr(data-label);
}

.THIS .slds-max-medium-table_stacked-horizontal td:before,
.THIS .slds-max-medium-table--stacked-horizontal td:before {
    float: left;
    margin-top: .125rem;
   width:50%;
}
.THIS .popup{
    z-index :10;
}

.THIS .notifiy{   
    background : #ccc;
    overflow:hidden;
    position:relative;
}
.THIS .notifiy:before{
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  left:calc(50% - 5px);
  top: calc(50% - 5px);
  transform: scale(-3);
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color: rgba(255,0,0,0.6);
    animation-timing-function: ease-in;
    border-radius: 50%;
}
.THIS .notifiy:after{
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  left:calc(50% - 5px);
  top: calc(50% - 5px);
  border-radius: 50%;
  transform: scale(-3);
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0.75s;
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0.75s;
    animation-iteration-count: infinite;
    background-color: rgba(255,0,0,0.6);
    animation-timing-function: ease-in;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%{
    	background-color: rgba(255,0,0,0.6);
        transform: scale(1);
    }
    100%{
       background-color: rgba(255,0,0,0.1);
        transform: scale(20);
    }
}

/* Standard syntax */
@keyframes example {
     0%{
    	background-color: rgba(255,0,0,0.6);
        transform: scale(1);
    }
    100%{
       background-color: rgba(255,0,0,0.1);
        transform: scale(20);
    }
}