.THIS .HelpText-Position{
    position: absolute;
    top: 18px;
    left: 72px;
    margin-left: -1.5rem;
    width: 20rem;
}
.THIS.toggle {
    display: none;
}

.THIS .toggle {
    display : none;
}